body {
	overflow-x: hidden;
	overflow-y: hidden;
}

/*================================================================================================ 
.: MAIN MIDDLE ROW :. 
=================================================================================================*/

.main__row {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.main__row--text {
	text-align: center;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-top: 8%;
	}


.project__name {
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: 1px;

}

.project__tagline {
	font-size: 4rem;
	letter-spacing: 1px;

}
	
.project__name--description {
	font-size: 1.5rem;
	font-weight: 100;
}

#description {
	left: 25%;
}

/*================================================================================================ 
.:. 
=================================================================================================*/

/*================================================================================================ 
.: MAIN BOTTOM ROW :. 
=================================================================================================*/

div.main_button {
	border: white solid 1px;
}

div.main_button a {
	color: white;
}

div.main_button:hover, div.main_button a:hover {
	
}

/*================================================================================================ 
.:. 
=================================================================================================*/

