/*================================================================================================ 
.: MAIN MIDDLE ROW :. 
=================================================================================================*/
body {
	overflow-y: hidden;
}

.wrapper {
	height: 100%;
}

.main__row {
	height: 100px;
	margin-top: 50px;
}

.main__row #word {
	font-family: pixel_1;
	font-size: 5.5rem;
	letter-spacing: -5px;
	color: white;
	position: absolute;
	left: 30px;
	bottom: -50px;
}

#test {
}

.main__row .letter {
	margin: 0px;
	padding: 0px;
}


/*================================================================================================ 
.:. 
=================================================================================================*/


/*================================================================================================ 
.: MAIN BOTTOM ROW :. 
=================================================================================================*/

/*================================================================================================ 
.:. 
=================================================================================================*/

