/*================================================================================================ 
.: PORTFOLIO GLOBAL :. 
=================================================================================================*/
html, body {
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #fff;
}


/*================================================================================================ 
.:. 
=================================================================================================*/

/*================================================================================================ 
.: PORTFOLIO FIRST ROW :. 
=================================================================================================*/
div.portfolio__rirst--row {
	font-family: pixel_1;
	font-size: 5.5rem;
	color: white;
	position: absolute;
	left: 90px;
	top: 72px;
}

div.portfolio__rirst--row div {
	padding: 0px;
}

/*================================================================================================ 
.:. 
=================================================================================================*/

/*================================================================================================ 
.: PORTFOLIO BOTTOM ROW :. 
=================================================================================================*/

.portfolio__second--row {
	margin-top: 50px;
}

.icon__bar {
	display: none;
	/* display: block; */
    bottom: -10px;
    left: 30px;
    background: transparent;
    font-size: 1.3rem;
	/* border: 1px solid white; */
	height: 15vh;	
 	text-align: center;
    padding: 15px;
    z-index: 1;
}

.icon__bar .icon,
.caption1 .icon {
	padding: 0px;
	z-index: 1;
}

.icon__bar .icon img {
	width: 15%;
	padding: 0px;
	z-index: 1;
}

.caption1 .icon img {
	width: 30%;
	float: left;
	/* opacity: 1 !important; */
	-webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
 
div.portfolio__cases {
	background-color: transparent;
}

.pad_lM {
	padding-left: 0px;
}

.pad_rM {
	padding-right: 0px;
}

.p_c2 {
	margin-top: 50px;
} 

div.portfolio__object--box {
	border: 1px solid white;
	height: 55vh;
	color: white;
	font-size: 1.1rem;
	z-index: 2;
}

.img--box {
	overflow:hidden;
	overflow-x: auto;
    white-space: nowrap;
    margin: 0px !important;
    padding: 0px !important;
}

div.portfolio__object--box h4,
div.portfolio__object--box p {
}

div.portfolio__object--box img {
	width:100%;
	margin: 0 auto;
	overflow: hidden;
	filter: alpha(opacity=50);
	opacity: .5;
}

div.portfolio__object--box img:hover {
	opacity: .9;
}

div.portfolio__object--box .caption1 {
	padding-left: 30px;
	padding-right: 30px;
}

div.portfolio__object--box .caption1 h4 {
	margin: 0px;
}

.p_c2 .portfolio__object--box {
	border: none; 
} 

.text--box {
	border: none !important;
}

/* 
div.portfolio__object--box .caption1 {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 108px;
	width: 99%;
	color: white;
	opacity: 0;
	-o-transition: all 0.5s linear 0s;
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
} */

/*
div.portfolio__cases .caption h4 {
	font-size: 25px;
	font-weight: 300;
	text-align: left;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
	margin-top: 20px;
	position: relative;
	left: 300px;
	margin-left: 29px;
	opacity: 0;
	-o-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}


div.portfolio__cases .caption p {
	font-size: 15px;
	font-weight: 100;
	margin: 0px 0px;
	text-align: left;
	 font-style: italic;  
	padding: 10px 30px 0px 10px;
	margin-left: 19px;
	opacity: 0;
	-o-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}

div.portfolio__cases .caption a.btn {
	width: 200px;
	text-align: right;
	display: block;
	color: white;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	opacity: 0;
	left: -300px;
	-o-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}

div.portfolio__cases:hover {
	background: transparent;
	z-index: 3000;
}

div.portfolio__cases:hover h4,
div.portfolio__cases:hover a.btn {
	left: 0px;
	opacity: 1;
	z-index: 3000;
}

div.portfolio__cases:hover .caption,
div.portfolio__cases:hover p {
	opacity: 1;
	z-index: 3000;
}                  

div.portfolio__cases:hover object{
	opacity: 0;
	
} 

 .portfolio-icon {
 	display: block;
}

/*================================================================================================ 
.:. 
=================================================================================================*/