/*================================================================================================ 
.: XS :. 
=================================================================================================*/

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }

  html, body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  img#logo0, 
  img#logo1  {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px; 
    z-index: 400;
  }

  #crossburger {
    width: 10%;
    right: 45%;
    margin-top: 0px;
  }

  .main__menu {
    height: 100%;
  }

  .main__menu ul {
    margin-top: 30vh;
  }

  .main__row {
    margin-top: 0px;
  }

  .project__name {
    font-size: 300%;
    font-weight: 600;
    letter-spacing: 1px;
  }



  .project__tagline {
    font-size: 3rem;
    letter-spacing: 1px;
  }
  
  .project__name--description {
    font-size: 1rem;
    font-weight: 100;
  } 

  div.portfolio__rirst--row {
    width: 80%;
    margin-top: 14%;
  }

  div.portfolio__second--row {
    width: 80%;
    margin-top: 1px;
  }

  div.portfolio__object--box {
    width: 150px;
    margin: 0 auto;
    margin-top: 15%;
}

  div.phone {
    border-right: none;
    border-bottom: 1px solid #264399;
  }

  div.messege_send {
    margin-top: 70px;
  }

  .comrade__rirst--row {
    margin-left: auto !important;
    margin-top: 50px !important;
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

/*================================================================================================ 
.:. 
=================================================================================================*/

/*================================================================================================ 
.: SM :. 
=================================================================================================*/

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }

  html, body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  img#logo0, 
  img#logo1  {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px; 
  }

  #crossburger {
    width: 6%;
    right: 47%;
    margin-top: 0px;
  }

  .main__row {
    margin-top: 0px;
  }

  div.portfolio__rirst--row {
    width: 80%;
    margin-top: 14%;
  }

  div.portfolio__second--row {
    width: 80%;
    margin-top: 1px;
  }

  div.portfolio__object--box {
    width: 150px;
    margin: 0 auto;
    margin-top: 15%;
}

  div.phone {
    border-right: none;
    border-bottom: 1px solid #264399;
  }

  div.messege_send {
    margin-top: 70px;
  }

  .comrade__rirst--row {
    margin-left: auto !important;
    margin-top: 50px !important;
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

/*================================================================================================ 
.:. 
=================================================================================================*/

/*================================================================================================ 
.: MD :. 
=================================================================================================*/

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }

  html, body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .main__row {
    margin-top: 0px;
  }

  div.portfolio__object--box {
    width: 150px;
    margin: 0 auto;
    margin-top: 15%;
}

  div.phone {
    border-right: none;
    border-bottom: 1px solid #264399;
  }

  div.messege_send {
    margin-top: 70px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

/*================================================================================================ 
.:. 
=================================================================================================*/

/*================================================================================================ 
.: LG :. 
=================================================================================================*/

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

/*================================================================================================ 
.:. 
=================================================================================================*/

/*================================================================================================ 
.: I N V I S I B L E :. 
=================================================================================================*/

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}

/*================================================================================================ 
.:. 
=================================================================================================*/

/*================================================================================================ 
.: P R I N T :. 
=================================================================================================*/

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

/*================================================================================================ 
.:. 
=================================================================================================*/